<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60ED0E9A1BA9B37D00FD0ECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60ED0EB31BA9B37D00FD0ECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60ED0EBE1BA9B37D00FD0ECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
